<div class="w-full max-w-lg mx-auto p-8">
    <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-lg font-medium mb-6">Registrar Tienda</h2>
        <form [formGroup]="form" (ngSubmit)="Send()">
            <div class="grid grid-cols-2 gap-6">
                <div class="col-span-2 sm:col-span-1">
                    <label for="card-number" class="block text-sm font-medium text-gray-700 mb-2">Nit</label>
                    <input type="text" formControlName="nit" id="card-number" placeholder="Ingrese El Nit " class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
                    <!-- <div *ngIf="form.get('nit')">

                    </div> -->
                </div>
                <div class="col-span-2 sm:col-span-1">
                    <label for="expiration-date" class="block text-sm font-medium text-gray-700 mb-2">Tipo De Tienda</label>
                    <input type="text" formControlName="tipoTienda" id="expiration-date" placeholder="Nombre" class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
                </div>
               
            </div>
            <div class="mt-8">
                <button type="submit" class="w-full bg-green-500 hover:bg-blue-600 text-white font-medium py-3 rounded-lg focus:outline-none">Submit</button>
                <button  class="w-full bg-red-600 hover:bg-red-900 text-white font-medium py-3 rounded-lg focus:outline-none mt-2" (click)="cancelar()">Cancel</button>
            </div>
        </form>
    </div>
</div>
